main{
    width: 100%;
    margin: 0 auto;
    background: black;
    display: flex;
    justify-content: center;
}

.mainContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    color: red;
}

.sideBar div{
    display: flex;
    flex-direction: column;
}

.sideBar{
    width: 30%;
    background: green;
}

.content{
    width: 70%;
    background: blue;
}
